<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Laptops y Computadoras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Con este proyecto podras hacer todas las acciones de un CRUD</strong>
    <p>Pero primero Inicia Sesion</p>
    <br>
    <ion-button (click)="login()">Inicio de Sesion</ion-button>
  </div>
</ion-content>
